
{
	"parser": "babel-eslint",
	"extends": "airbnb",
	"plugins": [
		"react",
		"import",
    "jest",
	],
  "env": {
    "jest": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
  }
}
